/* body {
    background: black;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.btn-shine {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #fff 0, #696969 10%, #fff 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 12px;
}
.btn-shine:hover {
  /* box-shadow: 0 10px 20px rgba(238, 233, 233, 0.1); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
