.title-wrapper {
  font-size: 80px;
}
.sub-title-wrapper {
  font-size: 24px;
}

.waitlist-br {
  border-radius: 300px;
}

@media screen and (max-width: 850px) {
  .title-wrapper {
    font-size: 10vw;
    line-height: 1.2;
  }
  .sub-title-wrapper {
    font-size: 18px;
  }
  .btn-text {
    font-size: 14px;
  }
  .waitlist-br {
    border-radius: 48px;
  }
}
