.sub-title-container {
  width: 60vw;
  font-size: 36px;
}

@media (max-width: 768px) {
  .sub-title-container {
    font-size: 24px;
    width: 95vw;
  }
  .mobile-view {
    visibility: hidden;
  }
}
